@font-face {
    font-family: 'NeueMetana';
    src: url('../assets/Fonts/neuemetanamono-light.otf');
}

html {
    height: 100%;
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.editor {
    max-width: 800px;
    line-height: 1.4;
    background-color: black;
    font-family: 'NeueMetana', monospace;
    font-size: 0.9rem;
    color: white;
}