@font-face {
    font-family: 'Source Code Pro';
    src: url('../assets/Fonts/SourceCodePro-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('../assets/Fonts/JetBrainsMono-Regular.woff2');
}

.editor {
    max-width: 800px;
    line-height: 1.4;
    background-color: black;
    font-family: 'JetBrains Mono', 'Source Code Pro', monospace;
    font-size: 0.95rem;
    color: white;
}