@font-face {
    font-family: 'SourceCodePro';
    src: url('../assets/Fonts/SourceCodePro-Regular.ttf');
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('../assets/Fonts/JetBrainsMono-Regular.woff2');
}

.snippetWrapper {
    /* border: 1px solid; */
    min-height: 100vh;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    color: #38dad8;
    font-family: 'Montserrat', sans-serif;
}

.snippetWrapper * {
    z-index: 10;
}


.topHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    gap: 5px;

    & h1 {
        display: flex;
        gap: 10px;
        align-items: center;
    }
}

.topHeader .reactIcons {
    display: flex;
    gap: 20px;
    font-size: 1rem;
    transition: .2s;

    & svg {
        cursor: pointer;
    }

    &>*:not(.search-box) {
        border: 1px solid;
        padding: 10px 10px;
        border-radius: 50%;
        transition: .1s;

        &:hover {
            background-color: rgba(56, 218, 216, 0.3);
            scale: 1.03;
        }
    }

    .search-box {
        font-size: 1rem;
        border: none;
        width: fit-content;
        height: fit-content;
        text-align: center;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        position: relative;
        cursor: pointer;
    }

    .btn-search {
        border: none;
        position: absolute;
        right: 0;
        color: rgba(56, 218, 216);
        padding: 10px;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        font-size: 1rem;
        background-color: transparent;
        outline: none;
        cursor: pointer;

        &:hover {
            background-color: rgba(56, 218, 216, 0.3);
            scale: 1.03;
        }
    }

}

.btn-search:focus~.input-search {
    width: 300px;

    background-color: transparent;
    border-radius: 0;
    padding: 10px;
    border-color: transparent;
    border-bottom: 1px solid rgba(56, 218, 216, 0.7);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);

}

.input-search:focus {
    border-color: transparent;
    width: 300px;
    background-color: transparent;
    padding: 10px;
    border-radius: 0;
    border-bottom: 1px solid rgba(56, 218, 216, 0.7);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

.btn-search:focus {
    border: none !important;
    /* width: 350px; */
}

.input-search {
    width: 40px;
    height: 40px;
    padding-right: 40px;
    background-color: transparent;
    border-radius: 50%;
    border-style: none;
    color: rgba(56, 218, 216, 0.7);
    border: 1px solid rgba(56, 218, 216);
    outline: none;
    transition: .2s;
    cursor: pointer;

    &:hover {
        /* background-color: rgba(56, 218, 216, 0.3); */
        scale: 1.03;
    }
}

.input-search::placeholder {
    color: rgba(56, 218, 216, 0.3);
}

.snippetList {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;

    & a {
        text-decoration: none;
        color: rgba(224, 224, 224, 0.8);
        max-width: 370px;
        width: 100%;
        transition: .2s;
        color: #38DAD8;

        &:hover {
            color: #F7E8A4;
        }
    }
}

.parallax-tilt {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 31%;
    min-width: 130px;
    max-height: 400px;

    & a {
        height: 100%;
        max-height: 400px;
    }
}

.singleSnippet {
    padding: 10px;
    background-color: transparent;
    border-radius: 10px;
    position: relative;
    /* border: 1px solid rgba(56, 218, 216, 0.3); */
    height: 100%;
    min-width: 130px;
    max-height: 400px;
    cursor: pointer;
    transition: .2s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & h2 {
        padding: 10px;
        padding-bottom: 0;
        color: #e0e0e0;
    }

    & p {
        font-weight: 500;
        margin: 12px;
        font-family: 'JetBrains Mono', monospace;
        user-select: none;
    }

    & p:last-child {
        font-weight: 300;
        font-size: 0.9rem;
        color: #e0e0e0;
        font-family: 'SourceCodePro', 'Montserrat', sans-serif;
    }

    &:hover {
        background-color: rgba(0, 0, 0, 0.82);
    }

    &:active {
        scale: 0.99;
    }
}

.singleSnippet::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    backdrop-filter: blur(8px);
    background-color: rgba(56, 218, 216, 0.1);
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    transition: .3s;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(56, 218, 215, 0.5);
    -moz-box-shadow: 0px 0px 2px 0px rgba(56, 218, 215, 0.5);
    box-shadow: 0px 0px 2px 0px rgba(56, 218, 215, 0.5);
}

.singleSnippet:hover::after {
    -webkit-box-shadow: 0px 0px 8px 0px rgba(56, 218, 215, 0.5);
    -moz-box-shadow: 0px 0px 8px 0px rgba(56, 218, 215, 0.5);
    box-shadow: 0px 0px 8px 0px rgba(56, 218, 215, 0.5);
}

.limit-lines {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.limit3 {
    -webkit-line-clamp: 3;
}

.limit2 {
    -webkit-line-clamp: 2;
}


@media screen and (max-width: 600px) {
    .parallax-tilt {
        width: 100%;
    }

    .topHeader .reactIcons {
        gap: 10px;
    }
}