.snippetWrapper {
    /* border: 1px solid; */
    /* background-color: #121212; */
    min-height: 100vh;
    padding: 25px;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    gap: 10px;
    width: 100%;
    max-width: 1200px;
    align-self: center;
    color: #008170;
    font-family: 'Montserrat', sans-serif;
}

.topHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.topHeader .reactIcons {
    display: flex;
    gap: 20px;
    font-size: 1rem;
    transition: .2s;

    & svg {
        cursor: pointer;
    }

    & * {
        aspect-ratio: 1;
        border: 1px solid;
        padding: 10px 10px;
        border-radius: 50%;
        transition: .1s;

        &:hover {
            background-color: rgba(0, 129, 112, 0.2);
            scale: 1.03;
        }

    }
}


.snippetList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;

    & a {
        text-decoration: none;
        color: #008170;
        max-width: 370px;
        width: 100%;
    }
}

.singleSnippet {
    padding: 10px;
    background-color: rgb(35 45 63/0.7);
    border-radius: 10px;
    /* border: 1px solid; */
    height: 100%;
    cursor: pointer;
    transition: .2s;

    & h2 {
        color: #e0e0e0;
    }

    & p {
        font-weight: 500;
        margin: 12px;
        font-family: 'JetBrains Mono', monospace;
        user-select: none;
    }

    & p:last-child {
        font-weight: 300;
        font-size: 0.9rem;
        color: #e0e0e0;
        font-family: 'Source Sans Pro', sans-serif;
    }

    &:hover {
        background-color: rgb(35 45 63/0.5);
    }

    &:active {
        scale: 0.99;
    }
}

.activeSnippet {
    background-color: #e0e0e0;
}


.limit-lines {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.limit3 {
    -webkit-line-clamp: 3;
}

.limit2 {
    -webkit-line-clamp: 2;
}