html {
    height: 100%;
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.loadingIcon {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.6;
    background-color: #051515;
    z-index: 10;
}

.loadingSpinner {
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    /* I spent so much time to fix this animation, since there were 2 properties and I didn't added the rotate one here */
    width: 80px;
    height: 80px;
    border: 8px solid;
    border-radius: 50%;
    border-color: #fff transparent #fff transparent;
    animation: loading 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

@keyframes loading {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}